---
layout: default
title: OSCAL 2022 Speakers
permalink: /speakers/
modal: all
image: Post-1.jpg
---

{% include top-section.html %}

<!-- {% include cfp-info.html %} -->
<section class="speakers-announced">
	<div class="about-speakers">
        <p>
    We have the pleasure to announce the list of speakers that will be presenting in OSCAL 2022 and openSUSE Summit at OSCAL!
        </p>
    </div>
</section>

<!-- {% if site.showSessions %} -->
    {% include speakers-list.html %}
<!-- {% else %}
    {% include speakers-list-2.html %}
{% endif %} -->
