<!-- Begin Hero Section -->
<header id="top-section-hero" class="top-section-hero top-section image-section" style="background: linear-gradient(rgba(29, 38, 113, 0.5), rgba(195, 55, 100, 0.5)), url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">

    <div class="content-wrapper">
    <div class="jumbotron mainhome">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
            <h2 class="date-title">{{ site.eventDate }}</h2>
        </div>
    </div>
    <a href="#about" class="explore" aria-label="Explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</header>
<!-- End Hero Section -->
