<section class="cfp-info">
	<div class="content-wrapper about-speakers"><p>
We’re dedicating this part of our website to all media interested in promoting the fifth edition of OSCAL. Here you’ll find all the necessary materials including our logo and visual identity, as well as our press release in albanian and english.</p>
</div>
<hr>
<div>
<h2>Press Release</h2>
<p>Coming soon</p>
 </div>

<br />
<br />
<hr>
<div>
  <h2>Deklaratë për shtyp</h2>
<p>Coming soon</p>
  </div>

  <br />
	<br />
	<br />
	<hr>
	<div>
	  <h2>Apply as a media partner</h2>
	  <p>Coming soon</p>
	<!-- <p>Click the button below if you want to support us as a media partner.</p>
	  </div>
	  <a href="../blog/media-partner" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">APPLY</a> -->
	<br/>
	<br />
	<br />
</section>
