<section class="cfp-info">
	<div class="content-wrapper about-speakers"><p>
We’re dedicating this part of our website to all media interested in promoting the fifth edition of OSCAL. Here you’ll find all the necessary materials including our logo and visual identity, as well as our press release in albanian and english.</p>
</div>
<hr>
<div>
<p>Press Release</p>
<p>By pressing the button, you can view and download the press release of OSCAL 2018 in english.</p>
 </div>
<a href="../assets/OSCALPressRelease2020.pdf" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">DOWNLOAD</a>
<br />
<br />
<hr>
<div>
  <p>Deklaratë për shtyp</p>
<p>Duke klikuar mbi buton, ju mund të shihni dhe të shkarkoni deklaratën për shtyp.</p>
  </div>
  <a href="../assets/OSCALPressRelease2020-shqip.pdf" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">SHKARKO</a>
  <br />
</section>
