<section class="cfp-info">
	<div class="content-wrapper about-speakers"><p>
We’re dedicating this part of our website to all media interested in promoting the fifth edition of OSCAL. Here you’ll find all the necessary materials including our logo and visual identity, as well as our press release in albanian and english.</p>
</div>
<hr>
<div>
	<h2>Media Partners</h2>
	<div class="container media-partners-container">
		<div class="media-partner">
			<a href="https://www.linux-magazine.com/" target="_blank">
				<img src="/img/media-partners/LMI_Logo_Transparent.png" alt="Linux Magazine logo" />
			</a>
		</div>
		<div class="media-partner">
			<a href="https://www.admin-magazine.com/" target="_blank">
				<img src="/img/media-partners/Admin_logo_Transparent_600x213.png" alt="ADMIN Network & Security logo" />
			</a>
			
		</div>
		<div class="media-partner" style="padding: 20px">
			<a href="https://fosslife.org" target="_blank">
				<img src="/img/media-partners/FOSSlife_portrait_rgb.png" alt="FOSSlife logo" />
			</a>
			
		</div>
		<div class="media-partner">
			<a href="https://businessmag.al/" target="_blank">
				<img src="/img/media-partners/Business-Magazine-300x77.png" alt="Business Magazine logo" />
			</a>
			
		</div>
		<div class="media-partner">
			<a href="https://albaniatech.org" target="_blank" style="width: 100%">
				<img src="/img/media-partners/Albania-Tech_Blue.svg" alt="AlbaniaTech logo" />
			</a>
		</div>
	</div>
</div>
<hr/>
<div>
	<h2>Press Release</h2>
	<p>By pressing the button, you can view and download the press release of OSCAL 2020 in english.</p>
</div>
<a href="../assets/OSCALPressRelease2022.pdf" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">DOWNLOAD</a>

<br />
<br />
<hr>
<div>
	<h2>Deklaratë për shtyp</h2>
	<p>Duke klikuar mbi buton, ju mund të shihni dhe të shkarkoni deklaratën për shtyp.</p>
</div>
<a href="../assets/OSCALPressRelease2022-shqip.pdf" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">SHKARKO</a>

  <br />
	<br />
	<br />
	<hr>
	<div>
	  <h2>Apply as a media partner</h2>
	  <!-- <p>Coming soon</p> -->
	<p>Click the button below if you want to support us as a media partner.</p>
	  </div>
	  <a href="../blog/media-partner" class="btn btn-primary waves-effect waves-button waves-light waves-float">APPLY</a>
	<br/>
	<br />
	<br />
</section>
