<section class="content-wrapper">
    <div class="col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 text-left">
        <p>
            The <a href="https://events.opensuse.org/" target="_blank">openSUSE Summit at OSCAL 2022</a> 
            will take place on one day of OSCAL and people are encouraged to submit a talk about openSUSE 
            and open source. There are two talks that can be submitted for the summit. One is a short talk 
            with a 10-minute limit and the other is a normal talk with a 30-minute limit.
        </p>
        <p>
            The summit will be a hybrid event, so people can submit talks for presentation at the event or 
            submit a talk and do it virtually if they are unable to travel to Albania.
        </p>
        <p>
            Some attendees who want to travel to the conference and summit may be required to apply for a visa. 
            If an attendee requires <a href="https://albania.al/visa-procedures/" target="_blank">visa approval</a>, 
            they can email <a href="mailto:oscal@openlabs.cc">oscal (at) openlabs.com</a> to assist with an invitation to the conference. 
            All attendees traveling to the conference/summit require the following:
        </p>
            <ul>
                <li>have a valid passport;</li>
                <li>have enough money for each day of their stay;</li>
                <li>be able to demonstrate the purpose of your stay to border officials;</li>
                <li>pose no threat to public order, national security or international relations.</li>
            </ul>
        <p>
            For more information, visit 
            <a href="https://albania.al/visa-procedures/" target="_blank">Albania’s Federal Foreign Office website</a>.
        </p>
    
        <p>
            The <a href="https://www.opensuse.org/" target="_blank">openSUSE</a> community has opened the 
            call for papers for a summit that will be held in conjunction 
            with Open Source Conference Albania (OSCAL) 2022.
        </p>
        <p>
            People can submit a talk for the <a href="https://events.opensuse.org/" target="_blank">openSUSE Summit at OSCAL 2022</a> 
            from now until Apr  il 26 on <a href="https://events.opensuse.org/" target="_blank">events.opensuse.org.</a>
        </p>
        <br/>
        <br/>
        <p class="text-center">
            <a href="https://events.opensuse.org/conferences/oSO22/schedule" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">
                View openSUSE Summit Agenda
            </a>
        </p>
        <br/>
        <p class="text-center">Live streaming of the summit will be available on Saturday morning, 10am-1pm, at the following link: </p>
        <p class="text-center">
            <a href="https://join.osc.al/2022/livestream" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">
                Watch live
            </a>
        </p>
</div>
</section>
