<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>{{ site.partnersTitle }}</h2>
            {% for partner in site.data.partners %}
            <h3 class="partner-group">{{ partner.group }}</h3>
            <ul class="list-inline">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <a href="{{ site.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
        </div>
    </div>
</section>
<!-- End Partners Section -->
