@import "compass";

// Font weights
$light: 300;
$regular: 400;
$bold: 600;
$extra-bold: 700;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $bold;
$base-font-size: 16px;
$base-line-height: 24px;

// Fixed Font
$fixed-font-family: 'Source Sans Pro';
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $regular;
$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 12px;

// Colors
$main-color: #ea272b;
$link-color: $main-color;
$link-lighten-amount: 20%;
$base-background-color: #fff;
$base-section-background-color: $link-color;
$primary-color: #ea272b;
$primary-color-hover: #3266d5;
$icon-fill-color: #8b8b8b;

// Sizes
$min-section-height: 350px;
$section-padding-top: 50px;
$section-padding-bottom: 60px;
$small-section-padding-top: 20px;
$small-section-padding-bottom: 40px;

// Global variables
$base-transition: all .3s;
$base-cubic-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
$long-transition: all .5s;
$long-cubic-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Path
$image-dir: "../img";
$sprites-dir: $image-dir + "/sprites";
$logos-sprite: $sprites-dir + "/logos.svg";

@import "modules/all";
